<div *ngIf="selected">
  <app-equipo-detail [equipoDetail]="selectedEquipo"></app-equipo-detail>
</div>

<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4"> # </th>
          <th class="h4">letra</th>
          <th class="h4">draws</th>
          <th class="h4">games_played</th>
          <th class="h4">goal_differential</th>
          <th class="h4">goals_against</th>
          <th class="h4">goals_for</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let element of equipos">
          <td>
            <dd>{{element.id}}</dd>
          </td>
          <td>
            <dd>{{element.equipo1}}</dd>
          </td>
          <td>
            <dd>{{element.goles1}}</dd>
          <td>
            <dd>{{element.goles2}}</dd>
          <td>
            <dd>{{element.equipo2}}</dd>
       </tr>
      </tbody>
      <tfoot>
    </table>
  </div>
</div>
